@page
@model WebAppUserApis.Pages.CallApiModel
@{
    ViewData["Title"] = "CallApi";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Call API</h2>
<h6>Gets the data from the Azure AD protected Web API which uses an OpenIddict downstream API</h6>

@foreach (var item in Model.DataFromApi!)
{
    <pre>@item</pre>
}


